/* COLORS */
:root {
    --white: #F3F3F3;
    --black: #333C4A;
}

/* CODE */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    transition: all 1s linear;
}

body.dark{
    background: var(--black);
}

/* MODE BUTTON */
button#mode{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--black);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--black);
    cursor: pointer;
    transition: all 1s linear, scale 0.5s ease;
}

button#mode span{
    font-size: 25px;
    color: var(--white);
    transition: all 1s linear;
}

body.dark button#mode{
    background: var(--white);
    box-shadow: 0px 0px 5px var(--white);
    transform: rotate(360deg);
    border-radius: 50px;
}

body.dark button#mode span{
    color: var(--black);
}

button#mode:active{
    scale: 0.9;
}

/* MAIN CON */
.data{
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 600px;
    max-height: 600px;
    border-radius: 25px;
    overflow: hidden;
}

.data .square{
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

/* COUNTER */
.counter{
    position: absolute;
    top: 10px;
    left: 10px;
    min-width: 150px;
    height: 50px;
    background: var(--black);
    border-radius: 10px;
    box-shadow: 0px 0px 5px var(--black);
    transition: all 1s linear, opacity 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
}

.counter.show{
    opacity: 1;
    transition: all 1s linear, opacity 2s ease 1s;
}

body.dark .counter{
    background: var(--white);
    box-shadow: 0px 0px 5px var(--white);
}

.counter p{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--white);
    padding: 0 10px;
    transition: all 1s linear;
}

body.dark .counter p{
    color: var(--black);
}

/* DISPLAY */
.start{
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    border-radius: 100px;
    corner-shape: squircle;
    background: var(--black);
    position: absolute;
    transition: all 1s linear, opacity 1s ease 0.5s;
    box-shadow: 0px 0px 10px var(--black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

body.dark .start{
    background: var(--white);
    box-shadow: 0px 0px 10px var(--white);
}

.start.hide{
    opacity: 0;
    pointer-events: none;
    transition: all 1s linear, opacity 1.5s ease;
}

.start h1, .start p{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    color: var(--white);
    transition: all 1s linear;
}

.start p{
    font-size: 30px;
    font-weight: bold;
}

body.dark .start h1, body.dark .start p{
    color: var(--black);
}

.start button{
    height: 50px;
    min-width: 200px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 5px 15px;
    text-transform: uppercase;
    border-radius: 10px;
    background: var(--white);
    border: none;
    outline: none;
    color: var(--black);
    transition: all 1s linear, scale 0.5s ease;
    cursor: pointer;
}

.start button:hover{
    scale: 1.05;
}

.start button:active{
    scale: 0.95;
}

body.dark .start button{
    background: var(--black);
    color: var(--white);
}